
@{
    ViewBag.Title = "Index";
}

<div id="demo" class="py-6  h-full ">
    <style>
        #demo {
            font-family: "Roboto,sans-serif";
        }
    </style>
    <div v-cloak v-bind:class="{ hidden: isActivemodal }" style="z-index: 100"
         class="min-w-screen h-screen animated fadeIn faster
         fixed  left-0 top-0 flex justify-center items-center inset-0 outline-none focus:outline-none bg-no-repeat bg-center bg-cover">
        <div @@click="closemodal()" class="absolute bg-black opacity-80 inset-0 z-0"></div>
        <div class="sm:w-6/12 w-10/12  p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white">
            <div class=" w-full  overflow-auto ">

                <div class=" flex justify-between items-center  rounded-t border-b mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white uppercase text-center mx-auto w-full">
                        Thêm ngành nghề
                    </h3>
                    <button type="button" @@click="closemodal()"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-toggle="defaultModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>



                <div class="grid grid-cols-12 ">
                    <div class="col-span-12">
                        <label for="Name"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên ngành nghề:</label>
                        <input v-model="dataForm.TenNganhNghe" type="text"
                               name="TenNganhNghe" id="TenNghanhNghe"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                               focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
                               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                               dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               placeholder="Tên ngành nghề">
                        <span class="mt-4 mb-2 text-red-500" v-if="dataForm.errors().has('TenNganhNghe')">
                            @@{{dataForm.errors().get('TenNganhNghe') }}
                        </span>
                    </div>

                </div>




            </div>



            <!--footer-->
            <div class=" text-center  md:block pt-4">
                <button @@click="submitform()"
                        class="inline-flex mr-2 items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Lưu
                </button>
                <button @@click="closemodal()"
                        class="inline-flex items-center px-4 py-2 border border-red-700   text-sm font-medium rounded-md shadow-sm text-red-700 bg-white hover:text-white hover:bg-red-700 ">
                    Hủy
                </button>
            </div>

        </div>
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8 flex">
        <h1 class="text-base sm:text-2xl font-semibold text-gray-900 dark:text-light">Quản lý ngành nghề </h1>
        @*<h1 class="text-base sm:text-xl mt-1 text-gray-900 dark:text-light">&nbsp; Phòng ban</h1>*@
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8 ">
        <!-- Replace with your content -->
        <div class="py-4 datatable">
            <div class=" rounded-lg border-4 border-dashed border-gray-200 bg-white" style="min-height:80vh ;">
                <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8 mt-6">
                    <template>
                        <div id="app" class="col-12">
                            <div class="row p-4">
                                <div class="py-4">
                                    <div class="sm:flex sm:items-center">
                                        <div class="sm:flex-auto">
                                            <button @@click="saveform()" type="button"
                                                    class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
                                                Thêm
                                                mới
                                            </button>

                                        </div>

                                        <div class="col-3 col-span-3">
                                            <input @@keyup="onChange($event)" type="text" placeholder="Tìm kiếm" class="effect-7">
                                            <span class="focus-border">
                                                <i></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <datatable :datatb="data" namePaging="pagination" @@pagination="pagination">
                                    <template>
                                        <el-table-column label="STT" width="100" align="center">
                                            <template slot-scope="scope">
                                                <span style="margin-left: 10px">{{ scope.$index + 1 }}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="TenNganhNghe" label="Tên">
                                        </el-table-column>



                                        <el-table-column align="center" width="270">
                                            <template slot="header" slot-scope="scope">
                                                Chức năng
                                            </template>
                                            <template slot-scope="scope">
                                                <el-tooltip class="item" effect="dark" content="Chỉnh sửa"
                                                            placement="top-start">
                                                    <el-button size="mini" @@click="doAlertEdit(scope.row)">
                                                        <i class="el-icon-edit-outline text-lg"></i>
                                                    </el-button>
                                                </el-tooltip>
                                                <el-tooltip class="item" effect="dark" content="Xóa"
                                                            placement="top-start">
                                                    <el-button size="mini" @@click="doAlertDelete(scope.row)">
                                                        <i class="el-icon-delete text-lg"></i>
                                                    </el-button>
                                                </el-tooltip>

                                                @*<el-tooltip class="item" effect="dark" content="In"
                                                                placement="top-start">
                                                        <el-button size="mini" @@click="openmodalView(scope.row)">
                                                            <i class="el-icon-download text-lg"></i>
                                                        </el-button>
                                                    </el-tooltip>

                                                    <el-tooltip class="item" effect="dark" content="Lịch sử xuất nhập"
                                                                placement="top-start">
                                                        <el-button size="mini" @@click="openmodallichsu(scope.row)">
                                                            <i class="el-icon-tickets text-lg"></i>
                                                        </el-button>
                                                    </el-tooltip>*@


                                            </template>
                                        </el-table-column>

                                    </template>
                                    <!--End Colum -->
                                </datatable>

                                <!-- Using the VdtnetTable component -->
                                @*<table border="1" class="w-full">
                                        <thead style="background-color: rgb(21 94 117);">
                                            <tr class="text-center text-white">
                                                <th style="border-right: 1px solid " class="py-2 border-white ">STT</th>
                                                <th style="border-right: 1px solid" class="py-2 border-white ">Name</th>

                                                <th class="py-2">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr style="border-bottom: 1px solid #ebeef5;" class="text-center hover:bg-gray-200" v-for="(item, index) in tableData">
                                                <td style="border-right: 1px solid #ebeef5;border-left: 1px solid #ebeef5;" class="py-4">{{index + 1}}</td>
                                                <td style="border-right: 1px solid #ebeef5;" class="py-4">{{item.Name}}</td>

                                                <td style="border-right: 1px solid #ebeef5;" class="py-4">
                                                    <button @@click="doAlertEdit(item)" class="px-2 hover:text-orange-500">

                                                        <i class="fa-solid fa-pen-to-square "></i>
                                                    </button>
                                                    <button @@click="doAlertDelete(item)" class="px-2">

                                                        <i class="fa-solid fa-trash "></i>
                                                    </button>
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>*@
                                <!--End Colum -->

                            </div>
                        </div>
                    </template>

                </div>
            </div>
        </div>
        <!-- /End replace -->
    </div>
</div>
<script src="~/Areas/Admin/public/js/DM_NganhNghe/DM_NganhNghe.js"></script>

